@use "variables.scss" as *;

.wrapper {
    height: 100%;
}

.about-container {
    max-width: 260px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tmdb-certify {
    padding: 2rem 0;
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-align: left;
}

.about-nomi {
    line-height: 2rem;
    font-size: 1rem;
    text-align: left;
}

.about-logo {
    width: 175px;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: $small) {
    .about-container {
        max-width: 450px;
    }

    .tmdb-certify {
        padding-top: 1rem;
        padding-bottom: 3rem;
        font-size: 1rem;
        border-top: 1px solid $primary-blue;
    }

    .about-nomi {
        padding-bottom: 2rem;
    }
}

@media (min-width: $large) {
    .about-container {
        max-width: 650px;
    }

    .about-nomi {
        font-size: 1.25rem;
    }

    .tmdb-certify {
        font-weight: bold;
    }

    .about-logo {
        width: initial;
        height: initial;

        img {
            border-radius: revert;
        }
    }
}