@use "variables" as *;
.account-page {
  
  div {
    background-color: rgb(32, 31, 31);
    grid-column: span 2;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 5rem;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    span {
      text-align: right;
      padding: 0 1rem;
      width: 100%;
    }
    img {
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
    }
    h2 {
      height: 100px;
      width: calc(100% - (100px + 1rem));
      display: flex;
      align-items: center;
      padding-left: 2rem;
      text-align: right;
      justify-content: right;
    }
    p {
      width: 100%;
      margin-top: 2rem;
    }
    button {
      margin: auto;
      margin-top: 3rem;
      border: 1px solid;
      color: $white;
    }
    form {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      input {
        width: 8rem;
        color: $white;
      }
      input[type="submit"] {
        // width: 100%;
        margin: 0.5rem 10rem;
        color: $black;
        align-self: center;
      }
    }
  }
}

form .MuiInputBase-colorPrimary {
  padding-bottom: 0;
}

@media (min-width: $small) {
  .account-page {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .account-page > div {
    width: 100%;
    grid-column: 2/6;
    padding: 2rem;
  }
}
