@use "variables" as *;

.test-btn {
  margin: 0 2rem;
}
.favorites {
  display: grid;
  justify-content: center;
  min-height: 100vh;
  .favorites-movie:hover {
    opacity: 25%;
  }
  .favorites-movie {
    padding: 2rem;
    position: relative;
    z-index: 1;
  }
  img {
    border-radius: 20px;
  }
}

@media (min-width: $medium) {
  .favorites {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0 1rem;
  }
}
