@use "variables" as *;
.favorites {
  display: grid;
  justify-content: center;
  min-height: 100vh;
  .favorites-movie:hover {
    opacity: 25%;
  }
  .favorites-movie {
    padding: 2rem;
    position: relative;
    z-index: 1;
    h2 {
      display: none;
    }
  }
  img {
    border-radius: 20px;
  }
}

.favourites-header {
  text-align: center;
  margin-top: 15rem;
}

@media (min-width: $medium) {
  .favorites {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0 1rem;
  }
}
