@use "variables.scss" as *;

.wrapper {
  background-color: #111;
  width: 100%;
  color: $white;
}
header {
  height: 5rem;
  width: 100%;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $primary-blue;
  padding: 0 1rem;
}
.movielist {
  display: grid;
  margin: 0 auto;
  .index-poster-img {
    display: flex;
    justify-content: center;
    max-width: 300px;
    flex-wrap: wrap;
  }
  img {
    border-radius: 20px;
  }
  & > div {
    width: 100%;
    grid-column: span 4;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }
  & > div:not(.banner-movie):not(.MuiTabs-root) {
    position: relative;
    display: grid;
    justify-self: center;
    max-width: 260px;
    padding: 1rem 0 5rem;
    .hidden {
      display: block;
      padding-top: 1rem;
    }
    a {
      text-decoration: none;
    }
    h2 {
      min-height: 2rem;
      color: white;
      text-align: center;
      margin-bottom: 1rem;
    }
    p {
      color: rgb(230, 230, 230);
      padding: 1rem 0.5rem 0;
    }
    p.low {
      padding: 1rem 0;
      color: red;
      border: 1px solid red;
      background-color: black;
      width: 3rem;
      height: 3rem;
      justify-self: center;
      border-radius: 9999px;
      display: grid;
      place-items: center;
      margin: 0.5rem auto;
    }
    p.high {
      padding: 1rem 0;
      color: green;
      border: 1px solid green;
      background-color: black;
      width: 3rem;
      height: 3rem;
      justify-self: center;
      border-radius: 9999px;
      display: grid;
      place-items: center;
      margin: 0.5rem auto;
    }
  }
}
@media (min-width: $medium) {
  .movielist {
    & > div:not(.banner-movie) {
      grid-column: span 1;

      .hidden {
        display: none;
      }
    }

    .index-poster-img {
      margin: 1rem 0rem;
      display: grid;
    }
    & > div:not(.banner-movie):not(.MuiTabs-root) {
      h2 {
        min-height: 5rem;
      }
    }
  }
}

@media (min-width: $large) {
  .movielist {
    & > div:not(.banner-movie):not(.MuiTabs-root) {
      place-items: center;
    }
    & > div:not(.banner-movie) {
      gap: 2rem;

      .hidden {
        display: none !important;
      }

      &:hover .hidden {
        display: grid !important;
        position: absolute;
        background-color: rgba($color: #000000, $alpha: 0.75);
        border-radius: 20px;
        width: 260px;
        height: 400px;
        padding-top: 1rem;
        h2 {
          padding: 0 0.5rem;
          min-height: 8rem;
        }
      }
    }
  }
}
.banner-movie {
  display: none;
}
.like-btn {
  position: absolute;
  top: 0rem;
  left: -2rem;
  scale: 1.5;
  z-index: 30;
  padding: 0.75rem;
}
.like-btn:hover {
  color: $primary-blue;
}
@media (min-width: $small) {
  .banner-movie {
    padding: 1rem;
    grid-column: 2 /4;
    display: grid;
    place-items: center;
  }
  .banner-movie {
    grid-column: 2 / 4;
  }
}
@media (min-width: $medium) {
  .like-btn {
    left: -1rem;
  }
}

.MuiTabs-root {
  margin-top: 1rem;
  grid-column: span 4 !important;
  width: 100% !important;
  button {
    color: #666 !important;
    padding: 1rem;
  }
  button.Mui-selected {
    color: $primary-blue !important;
  }
  .css-1aquho2-MuiTabs-indicator {
    background-color: $primary-blue !important;
  }
}

@media (min-width: 28.75em) {
  .css-heg063-MuiTabs-flexContainer {
    justify-content: center;
  }
}

.search-results {
  position: absolute;
  width: 100%;
  top: 7rem;
  background-color: #222;
  z-index: 999;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  ul {
    list-style-type: none;
    width: 100%;
    li {
      width: 100%;
      padding: 1rem 0;
      &:hover {
        background-color: lightgray;
      }
    }
    a {
      padding: 1rem 5rem;
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
@media (min-width: $small) {
  .search-results {
    top: 5rem;
  }
}

footer {
  text-align: center;
  font-size: 0.8rem;
  padding-top: 10rem;
  padding-bottom: 2rem;
}

@media (min-width: $small) {
  header {
    border-bottom: none;
    img {
      width: 8rem;
      text-align: center;
      padding-right: 1rem;
    }
  }

  .MuiTabs-root button {
    padding: revert;
  }
  .css-k008qs {
    justify-content: center;
  }
}

.movielist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin: 1rem;
}

// Spinner "Tom Fan - codepen.io"

.spinner-container {
  display: grid;
  place-items: center;
  gap: 10px;
  padding: 10px;
}

.spinner-container > div {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 100px;
  height: 100px;
  background: linear-gradient(90deg, $primary-blue, #555);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
#spinner3 {
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}

#spinner3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  animation: shadow 2s linear infinite;
}

@keyframes shadow {
  0% {
    box-shadow: inset 0 0 15px 15px black, 0 0 25px 25px black;
  }

  50% {
    box-shadow: inset 0 0 25px 25px black;
  }

  100% {
    box-shadow: inset 0 0 15px 15px black, 0 0 25px 25px black;
  }
}
