@use "variables" as *;

.indiv-container {
  width: 100%;
  margin: 0;
  padding: 0;

  section {
    width: 100%;
    padding: 1rem 0.3rem;
  }

  .hero {
    position: relative;
    .like-btn {
      top: 5rem;
      right: 5rem;
    }
    .movie-banner {
      width: 100%;
      max-width: 120rem;
    }
    .movie-rating {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0 1rem;
      :not(h1) {
        background-color: red;
        padding: 0.1rem 0.4rem;
      }
    }
  }
  .deets {
    display: flex;
    .movie-poster {
      display: none;
    }
    .movie-details {
      padding: 1rem;
      .cast-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        padding: 2rem 0;
        .cast {
          width: 128px;
        }
      }
    }
    .movie-overview {
    }
  }
}

@media (min-width: 40em) {
  .indiv-container {
    .movie-banner {
      filter: brightness(30%);
    }
    .movie-rating {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translateX(-50%);
      width: 32rem;
    }
    .deets {
      justify-content: center;
      gap: 1rem;
      align-items: center;
      .movie-details {
        max-width: 50rem;
      }
    }
  }
}

// At a width you think is acceptable, make movie poster display:block; It is loaded but display hidden due to the layout not being very supportive of it's sizing
