@use "variables.scss" as *;

.wrapper {
  background-color: #111;
  width: 100%;
  color: $white;
}
header {
  height: 5rem;
  width: 100%;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $primary-blue;
  padding: 0 1rem;
}
@media (min-width: $small) {
  header {
    border-bottom: none;
    img {
      width: 8rem;
      text-align: center;
      padding-right: 1rem;
    }
  }
}
