@use "variables.scss" as *;

nav {
  justify-self: end;
  flex: 1 1 auto;
  text-align: end;
  background-color: black;
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 100%;
      height: 5rem;
      display: grid;
      place-items: center;
      &:hover {
        background-color: #777;
      }
    }
  }
}
@media (min-width: $small) {
  nav {
    width: 30%;
    border-left: 5px solid $primary-blue;
    height: 75%;
    display: flex;
    align-items: center;
    font-weight: 600;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      li {
        display: unset;
        height: auto;
        width: auto;
        padding: 1rem 0;
        &:hover {
          background-color: black;
        }
      }
    }
    .highlighted {
      border-bottom: 3px solid $primary-blue;
    }
  }
}

.search {
  display: flex;
  justify-content: flex-end;
  padding: 0 0.5rem;
  input {
    display: none;
  }
}
@media (min-width: $small) {
  .search {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
    input {
      display: inline;
      width: 8rem;
      background-color: #111;
      border: none;
      border: 1px solid white;
      border-radius: 5px;
      color: white;
      text-align: end;
      padding: 0.25rem 1rem;
      padding-left: 1.5rem;

      &:focus {
        text-align: start;
      }
    }
    .search-icon {
      position: absolute;
      top: 0.25rem;
      right: 7rem;
    }
  }
}
.mobile-menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}
